---
import "@fontsource-variable/inter";
import Tools from "~/components/tools.astro";
import Features from "~/components/features.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/intro.astro";
import End from "~/components/end.astro";
import Splash from "~/components/splash.astro";
import "~/styles/index.css";
import { ViewTransitions } from "astro:transitions";
import { getRelativeLocaleUrl } from "astro:i18n";
import type { WebsiteContent } from "~/types";

const lang = Astro.currentLocale;
const translations: WebsiteContent = await import(`../locales/${lang}.json`);
const { generator } = Astro;
const title = translations.seo.title;
const description = translations.seo.description;
const siteUrl = Astro.url.origin;
const image = new URL("/favicon.png", siteUrl).toString();
const canonicalURL = new URL(Astro.url.pathname, siteUrl);
const isProd = import.meta.env.PROD;
---

<!doctype html>
<html lang={lang} class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <!-- Google tag (gtag.js) -->
    {
      isProd && (
        <>
          <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-ZQ5RRWQSK8"
          />
          <script src="/js/googleAnalytics.js" />
        </>
      )
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" type="image/svg+xml" />
    <link rel="canonical" href={canonicalURL} />
    <meta name="generator" content={generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <!-- Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- Plausible -->
    <script
      defer
      data-domain="axeladrian.com"
      src="https://plausible.axeladrian.com/js/script.js"
    ></script>
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url.href} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />
    <ViewTransitions />
    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");
      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }
      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <a
      href={getRelativeLocaleUrl(lang === "de" ? "en" : "de", "")}
      class="fixed bottom-8 right-4 z-50 rounded-full bg-secondary px-4 py-2 text-white transition-colors hover:bg-gray-700"
      data-astro-reload
    >
      {translations.languageSwitch}
    </a>
    <Header translations={translations} />
    <Splash translations={translations} />
    <div class="space-y-44 px-8 py-32">
      <Intro translations={translations} />
      <Features translations={translations} />
      <Tools translations={translations} />
      <End translations={translations} />
    </div>
  </body>
</html>
